<a href="https://colab.research.google.com/github/spdkh/DataMining-Course-8118/blob/master/Parisa_Daj_COMP8118_C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# n_topics = 4
# topic_dir = list()
# topic = list()

# for topic_id in range(n_topics):
#     topic_dir.append('https://raw.githubusercontent.com/spdkh/DataMining-Course-8118/master/Week%202/C1-data/topic-' + str(topic_id + 1) + '.txt')
#     topic.append(pd.read_csv(topic_dir[topic_id], header=None, sep=' ', names=range(30)))
#     print('\nTopic', topic_id + 1, ':\n', topic[topic_id])

In [2]:
vocab_dir = "https://raw.githubusercontent.com/spdkh/DataMining-Course-8118/master/Week%202/C1-data/vocab.txt"
vocab = pd.read_table(vocab_dir, header=None, index_col=0)

vocab

                   1
0
0          automatic
1        acquisition
2              proof
3             method
4      philosophical
...              ...
12215   supermodular
12216         hajnal
12217        bramble
12218       ancestry
12219      shellsort

[12220 rows x 1 columns]

In [8]:
def fp_grow(topic_id, vocab, support):
    topic_id -= 1
    topic_dir = 'https://raw.githubusercontent.com/spdkh/DataMining-Course-8118/master/Week%202/C1-data/topic-' + str(topic_id + 1) + '.txt'
    topic = pd.read_csv(topic_dir, header=None, sep=' ', names=range(30))
    print('\nTopic', topic_id + 1, ':\n', topic.iloc[:, :5])

    vocab['counter_' + str(topic_id + 1)] = 0

    for row in topic.index:
        ind = set(filter(lambda x: x == x, topic.iloc[row, :]))
        vocab.loc[ind, 'counter_' + str(topic_id + 1)] += 1

    freq_support = vocab.sort_values(by='counter_' + str(topic_id + 1), ascending=False)
    freq_support = freq_support[freq_support.iloc[:, topic_id + 1] >= support]
    return freq_support

support = 400
freq_support = fp_grow(1, vocab, support)

Topic 1 :
           0       1       2     3    4
0         4     6.0     NaN   NaN  NaN
1        15    10.0    14.0   9.0  8.0
2        22    19.0    18.0   NaN  NaN
3        56    55.0    54.0  50.0  NaN
4        69     6.0    60.0  67.0  NaN
...     ...     ...     ...   ...  ...
9669   1023  5907.0  7832.0   NaN  NaN
9670   1247     NaN     NaN   NaN  NaN
9671    339  9057.0     NaN   NaN  NaN
9672  12219     NaN     NaN   NaN  NaN
9673    100     NaN     NaN   NaN  NaN

[9674 rows x 5 columns]
                  1  counter_1
0
6          learning       1488
60            using       1050
67            model        819
25            based        715
18   classification        582
323         feature        488
181      clustering        474
374         network        463

In [7]:
 support = 400

freq_support = list()
for topic_id in range(n_topics):
    # print('\nTopic', topic_id + 1, ':\n', topic[topic_id])

    vocab['counter_' + str(topic_id + 1)] = 0
    
    for row in topic[topic_id].index:
        # print(line)
        # ind = set(map(int, line.split()))
        ind = set(filter(lambda x: x == x, topic[topic_id].iloc[row, :]))
        # print(ind)
        vocab.loc[ind, 'counter_' + str(topic_id + 1)] += 1
    print(vocab)
    freq_support.append(vocab.loc[vocab['counter_' + str(topic_id + 1)] >= support,
                                  [1, 'counter_' + str(topic_id + 1)]])
    freq_support = freq_support.sort_values(by='counter_' + str(topic_id + 1), ascending=False)

vocab

NameError: ignored

In [ ]:
freq_support

In [57]:
support = 400

topic_id = 1
# print('\nTopic', topic_id + 1, ':\n', topic[topic_id])

vocab['counter_' + str(topic_id + 1)] = 0

for row in topic[topic_id].index:
    ind = set(filter(lambda x: x == x, topic[topic_id].iloc[row, :]))
    vocab.loc[ind, 'counter_' + str(topic_id + 1)] += 1

freq_support = pd.DataFrame(vocab.iloc[:, [0, topic_id + 1]])

freq_support = freq_support.sort_values(by='counter_' + str(topic_id + 1), ascending=False)
freq_support

                   1  counter_1  counter_2  counter_3  counter_4
0
0          automatic         95        218         83          0
1        acquisition         13         41         82          0
2              proof          0          0         58          2
3             method        339         54         74        103
4      philosophical          3          1          0          0
...              ...        ...        ...        ...        ...
12215   supermodular          0          0          0          0
12216         hajnal          1          0          0          0
12217        bramble          0          0          0          0
12218       ancestry          0          0          0          0
12219      shellsort          1          0          0          0

[12220 rows x 5 columns]

                  1  counter_2
0
84              web       1226
190     information       1211
397       retrieval       1114
25            based        863
105          system        757
...             ...        ...
5230        nstance          0
5231   confirmatory          0
5233   contribution          0
5234           race          0
12219     shellsort          0

[12220 rows x 2 columns]

In [59]:
freq_support[freq_support.iloc[:, topic_id + 1] >= support]

IndexError: ignored